alias k="kubectl"
alias s="stern"

alias brew_update="brew -v update; brew upgrade --force-bottle; brew cleanup; brew cask cleanup; brew prune; brew doctor;"


# git
alias gl='git pull --prune'
alias glog="git log --graph --pretty=format:'%Cred%h%Creset %an: %s - %Creset %C(yellow)%d%Creset %Cgreen(%cr)%Creset' --abbrev-commit --date=relative"
alias gp='git push origin HEAD'
alias gd='git diff'
alias gc='git commit'
alias gca='git commit -a'
alias gco='git checkout'
alias gcb='git copy-branch-name'
alias gb='git branch'
alias gs='git status -sb' # upgrade your git if -sb breaks for you. it's fun.
alias gac='git add -A && git commit -m'

# corrections
alias bat="nocorrect bat"
alias aws="nocorrect aws"
alias dvc="nocorrect dvc"
alias gto="nocorrect gto"

# chezmoi
alias dot='chezmoi apply'
alias cz=chezmoi

# 1password
{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
op_exe_path="$(wslpath "$(wslvar USERPROFILE)")/AppData/Local/Microsoft/WinGet/Packages/AgileBits.1Password.CLI_Microsoft.Winget.Source_8wekyb3d8bbwe/op.exe"
if test -f "$op_exe_path"; then
    alias op='"$op_exe_path"'
fi
{{ end }}
{{ end }}
alias op-signin='eval $(op signin)'

alias ls=eza
alias cat="bat"
alias wrk=wrk2
alias ni=npm_install
alias jest="nocorrect jest"
alias serverless="nocorrect serverless"
alias npmu="npx npm-check -u"
alias tsc="nocorrect tsc"
