{{ $email := promptStringOnce . "email" "What is your email address" -}}

[data]
    name = "Charlie Briggs"
    email = {{ $email | quote }}
[edit]
    command = "code"
    args = ["--wait"]
[hooks.read-source-state.pre]
    command = ".local/share/chezmoi/.install-prerequisites.sh"
[git]
    autoCommit = true
    autoPush = true
[diff]
    pager = "diff-so-fancy"
[onepassword]
    {{ if (eq .chezmoi.os "linux") }}
    {{ if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
    command = "{{ output "wslpath" (output "wslvar" "USERPROFILE" | trim) | trim }}/AppData/Local/Microsoft/WinGet/Packages/AgileBits.1Password.CLI_Microsoft.Winget.Source_8wekyb3d8bbwe/op.exe"
    {{ end }}
    {{ end }}
