# run zsh-bench to capture debugging info

# languages
export LANGUAGE='en_GB:en'
export LANG='en_GB.utf8'
export LC_ALL='en_GB.utf8'
export LC_CTYPE='en_GB.utf8'

# Stash your environment variables in ~/.localrc. This means they'll stay out
# of your main dotfiles repository (which may be public, like this one), but
# you'll have access to them in your scripts.
if [[ -a ~/.localrc ]]
then
  source ~/.localrc
fi

export PATH="$HOME/.local/bin:$PATH"

# load completions
fpath=(~/.zsh/completions/zsh $fpath)

# load shell config
source ~/.zsh/config.zsh

# load zstyle
source ~/.zsh/zstyle.zsh

{{ if eq .chezmoi.os "darwin" -}}
{{ if eq .chezmoi.arch "arm64" -}}
eval "$(/opt/homebrew/bin/brew shellenv)"
{{ else -}}
eval "$(/usr/local/bin/brew shellenv)"
{{ end -}}
{{ else if eq .chezmoi.os "linux" -}}
eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
{{ end }}

# load antidote plugins. Some of these require executables to be on the path so must be after brew
source ${ZDOTDIR:-~}/.antidote/antidote.zsh
antidote load

# load aliases & env
source ~/.zsh/aliases.zsh
source ~/.zsh/env.zsh

{{ if eq .chezmoi.os "darwin" -}}
# load iterm2 shell integration if iterm2 exists
test -e "${HOME}/.iterm2_shell_integration.zsh" && source "${HOME}/.iterm2_shell_integration.zsh"
{{ end }}

{{ if eq .chezmoi.os "linux" -}}
__wt_osc9_9 () {
    printf "\e]9;9;%s\e\\" "$(wslpath -w "$PWD")"
}

# allow windows terminal to split panes in the same directory
if [ -n "$WT_SESSION" ] ; then
    if ((!precmd_functions[(I)__wt_osc9_9])); then
        precmd_functions=(__wt_osc9_9 "${precmd_functions[@]}")
    fi
fi
{{ end }}

# load bash (not zsh) completions
if [[ -d ~/.zsh/completions/bash ]]; then
  for file in ~/.zsh/completions/bash/*(N); do
    if [[ -f "$file" && -r "$file" ]]; then
      source "$file"
    fi
  done
fi

eval "$(starship init zsh)"
