#!/usr/bin/env bash

export GITHUB_USERNAME={{ onepasswordRead "op://personal/GITHUB_TOKEN/username" | quote }}
export GITHUB_TOKEN={{ onepasswordRead "op://personal/GITHUB_TOKEN/password" | quote }}

brew bundle --file=/dev/stdin <<EOF

{{ include "Brewfile.all" }}

{{ if eq .chezmoi.os "darwin" -}}
{{ include "Brewfile.osx" }}
{{ end }}

EOF
