#!/usr/bin/env bash

COMPLETIONS_PATH="$HOME/.zsh/completions"

rm -rf "$COMPLETIONS_PATH"
mkdir -p "$COMPLETIONS_PATH/zsh"
mkdir -p "$COMPLETIONS_PATH/bash"

{{ if lookPath "kubectl" }}
kubectl completion zsh > "$COMPLETIONS_PATH/zsh/_kubectl"
{{ end }}

{{ if lookPath "chezmoi" }}
chezmoi completion zsh > "$COMPLETIONS_PATH/zsh/_chezmoi"
{{ end }}


{{ if lookPath "terraform" }}
cat > ~/.zsh/completions/bash/terraform.bash << 'EOF'
# Terraform bash completion
if command -v terraform >/dev/null 2>&1; then
  complete -C "$(which terraform)" terraform
fi
EOF
{{ end }}

{{ if lookPath "terragrunt" }}
cat > ~/.zsh/completions/bash/terragrunt.bash << 'EOF'
# terragrunt bash completion
if command -v terragrunt >/dev/null 2>&1; then
  complete -C "$(which terragrunt)" terragrunt
fi
EOF
{{ end }}

{{ if lookPath "op" }}
cat > ~/.zsh/completions/bash/op.bash << 'EOF'
 eval "$(op completion zsh)"; compdef _op op
EOF
{{ end }}

curl -fsS https://raw.githubusercontent.com/fishtown-analytics/dbt-completion.bash/master/_dbt > "$COMPLETIONS_PATH/zsh/_dbt"
