#!/bin/bash

{{ if and (hasKey .packages "all") (hasKey .packages.all "crates") (gt (len .packages.all.crates) 0) }}

cargo install {{ range .packages.all.crates }}{{ . | quote }} {{ end }}

{{ end }}
