#!/usr/bin/env bash
set -e
{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
echo "Detected WSL, Installing linux packages"
echo "Installing packages (requires sudo)"
sudo apt-get update
sudo apt-get install -y apt-transport-https
sudo apt-get update
sudo apt-get upgrade -y
sudo apt-get dist-upgrade -y
sudo apt-get install -y --no-install-recommends \
    build-essential \
    curl \
    keychain \
    libbz2-dev \
    libffi-dev \
    liblzma-dev \
    libncurses5-dev \
    libpcsclite-dev \
    libreadline-dev \
    libsasl2-dev \
    libsqlite3-dev \
    libssl-dev \
    libtool \
    libxml2-dev \
    libxmlsec1-dev \
    llvm \
    make \
    sqlite3 \
    tk-dev \
    wget \
    xz-utils \
    zlib1g-dev \
    zsh
{{   end }}
{{ end }}
